:root {
  --bg-red: #f40027;
  --bg-black: #000000;
  --bg-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row > * {
  flex-shrink: 0;
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
}
/* footer */
.footer-a {
  color: #ffffff;
  opacity: 50%;
}
.footer-a:hover {
  color: #ffffff;
  opacity: 100%;
  border-bottom: 1px solid #ffffff;
}
.facebook {
  color: #ffffff;
}
.bg-fb:hover {
  background: #4267b2 !important;
}
.bg-tw:hover {
  background: #00acee !important;
}
.bg-td:hover {
  background: #ff0000 !important;
}
.bg-in:hover {
  background: linear-gradient(
    180deg,
    #4f5bd5,
    #962fbf,
    #d62976,
    #fa7e1e,
    #feda75
  ) !important;
}
/*  */

/* icon */
.icon {
  width: 13px;
  height: 35px;
  background: #ffffff;
}
/*  */

/* para */
p {
  color: var(--bg-white);
  font-weight: 400;
  margin: 0 30px 0 30px;
}
/*  */

/* row */
.about_hover:hover {
  transform: translateY(1.9);
  transition: all 1.2 ease 1.3;
  box-shadow: 3px 3px 10px 5px;
}
/* */
