
.gallery::-webkit-scrollbar {
  display: none;
}

/* menu item */
.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
   align-items: end;
}

.list-item{
  /* background: blue; */
  width: 500px; 
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.list-img{
  width: 100px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(70%);
  transition: transform 0.5s;
}
.list-name{
  font-size: small;
  text-wrap: nowrap;
  margin: 10px 0;
}
.list-img:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
  cursor: pointer !important;
}


/*  */